###############################################################################
### Common Ignored files ######################################################
###############################################################################

*.log
*.class
*.jar


###############################################################################
### Temporary files ###########################################################
###############################################################################

*~


###############################################################################
### Project files (IDE, Build Systems, etc.) ##################################
###############################################################################

# Idea IDE
.idea/
*/.idea/
*.iws
*.ipr
*.iml

# Eclipse IDE
.classpath
.project
.settings/

# Gradle Build System
.gradle/
!gradle/wrapper/gradle-wrapper.jar
build/

# libs exclusion
!libs/*

#virtual env for python
*/venv/
venv/
venv/*